venv/
dataset/
myPhotos/
plots/
train.py
prepareDataset.py
evaluate.py
class_names.py
class_names.txt~
*.ipynb
requirements.txt
model_best_72p_2.keras~
model_best_72p.keras
*.log
*.md
Dockerfile~
*.pyc
__pycache__/
.python-version
predict.py